<div class="small-3 columns">
  <ul class="side-nav">
    <li class="<%= cp(vision_path) %>"><%= link_to 'Vision & Mission', vision_path %></li>
    <li class="<%= cp(history_path) %>"><%= link_to 'History', history_path %></li>
  </ul>
</div>