<% provide :title, 'TWG | Vision' %>


<%= render 'about' %>

<div class="small-9 columns">
  <h1>Tartu Waldorfgümnaasium</h1>
  <hr />

  <h2>Our vision</h2>
  <p class="lead">
    By learning to think with the heart and to act as one we will
    help to create a world that is better, fairer, and more beautiful.
  </p>

  <h3>Our mission</h3>
  <p>
    To provide the best possibilities for the development of socially
    confident, emotionally mature individuals who are able to learn.
  </p>

  <h3>Our core values</h3>
  <ul class="circle">
    <li>a safe and child-friendly school environment</li>
    <li>a syllabus that takes into account the age-related differences of the child</li>
    <li>an education based on the individual abilities of the child</li>
    <li>the balance between the basic subjects and artistic-practical subjects in education</li>
    <li>the integration of subjects</li>
    <li>cooperation between teachers</li>
    <li>collegial management</li>
    <li>good cooperation with parents</li>
  </ul>
</div>