<% provide :title, 'TWG | History' %>

<%= render 'about' %>

<div class="small-9 columns">
  <h1>The history of Tartu Waldorfgümnaasium</h1>
  <hr />

  <p>
    <span class="first-word-gentle">On 3 March 1990,</span> the Tartu Free Waldorf School Association was established,
    with the goal of creating a 12-grade Waldorf school, organizing a school administration, and educating parents in
    the area of anthroposophy and Waldorf pedagogy.
  </p>
  <p>
    This was the beginning of an intense period of work, so that the first grade class could enter school that same fall.
    Rooms and funds were needed, renovations had to be done, furniture bought, and lectures organized about the Waldorf school.
  </p>

  <div class="small-4 small-centered column"><hr /></div>

  <p>
    <span class="first-word-gentle">On 1 September 1990,</span> an experimental class based on Waldorf pedagogical principles
    was opened in Tartu School 14 (today the Arts High School). Led by teacher Sulev Ojap, 22 boys and 12 girls began their
    school journey. Instruction took place in the Ristikheina kindergarten.
  </p>

  <div class="small-4 small-centered column"><hr /></div>

  <p>
    <span class="first-word-gentle">On 20 August 1992,</span> the Tartu Free School was established at the meeting of the
    parents` general council. Rooms sufficient for three classes had been acquired from the kindergarten, and it was clear
    that in the next academic year, the school would no longer fit in the building. The executive committee of the Association
    sought out and considered a range of possibilities for continuing the school. They chose the route of remodelling and
    renovating the building on Ploomi Street, where there had formerly been a kindergarten.
  </p>

  <div class="small-4 small-centered column"><hr /></div>

  <p>
    <span class="first-word-gentle">In the fall of 1992,</span> the Tartu Waldorf Pedagogy Seminar began its work in an
    unheated, unrenovated building. It was led by Tiiu Bläsi-Käo, an experienced Waldorf teacher from Germany. Tiiu Bläsi-Käo
    has remained a consultant to Waldorf schools to the present day.
  </p>

  <div class="small-4 small-centered column"><hr /></div>

  <p>
    ...
  </p>
</div>