<% provide :title, 'TWG | Contact' %>

<h1>How to contact us</h1>

<ul class="vcard">
  <li class="fn">Tartu Waldorf School</li>
  <li class="street-address">Ploomi 1</li>
  <li class="locality">Tartu</li>
  <li><span class="state">Tartumaa</span>, <span class="zip">50110</span></li>
  <li class="email"><a href="#">kontakt@waldorfkool.info</a></li>
</ul>