<% provide(:title, 'Tartu Waldorfgümnaasium') %>

<h1>Tartu Waldorfgümnaasium</h1>
<blockquote>By learning to think with the heart and to act as one we will help
  to create a world that is better, fairer, and more beautiful.</blockquote>

<%= render 'shared/orbit_slider' %>

<p class="lead">
  <span class="first-word">Our</span> school was established in 1990 by the Tartu Free Waldorf School Association to bring the
  Waldorf pedagogy to the city of Tartu. From humble beginnings, we have grown to become a fully-
  accredited school offering grade 1-12 education. To date, 12 classes have graduated from our basic
  school and 8 from our high school.
</p>

<div class="newest-post">
  <!-- to be replaced with dynamically generated content -->
  <h2>Latest news</h2>
  <hr />
  <h3>The future of Tartu Waldorf School</h3>
  <small>April 24, 2014</small>
  <p>
    <span class="first-word">We</span> are proud to announce that the next stage of our long-term plan for the school's
    future is beginning. Having chosen the winning design of the <a href="#">architectural competition</a> held in 2012,
    we will officially begin construction of the new Tartu Waldorf Centre on May 9, 2014. <a href="#">Continue &rarr;</a>
  </p>
</div>