
<div style="width: 500px" class="small-centered column">
  <ul class="example-orbit" data-orbit>
    <li>
      <%= image_tag '1943_sade5.jpg' %>
      <div class="orbit-caption">
        <span style="font-style: italic">Autumn woods</span> by Iiris, grade 1.
      </div>
    </li>
    <li class="active">
      <%= image_tag '1944_jetemari4.jpg' %>
      <div class="orbit-caption">
        <span style="font-style: italic">Oasis</span> by Jaagup, grade 1.
      </div>
    </li>
    <li>
      <%= image_tag '1945_sade4.jpg' %>
      <div class="orbit-caption">
        <span style="font-style: italic">Countryside Sunset</span> by Desiree Tamme, grade 1.
      </div>
    </li>
  </ul>
</div>