<% provide :title, 'About Us' %>

<%= render 'about' %>

<div class="small-9 columns">
<%= render 'shared/orbit_slider' %>

<ul class="circle">
  <li>Tartu Waldorf School is a school of general education with 12 grade levels.</li>

  <li>The school was founded on parents’ initiative in 1990. You can read more about our
    history <%= link_to 'here', history_path %></li>

  <li>Tartu Waldorf School’s syllabus draws on <%= link_to 'Waldorf pedagogy', 'http://en.wikipedia.org/wiki/Waldorf_education' %>,
    which takes into account
    the child’s age-related differences and supports the well-rounded development of a young individual.</li>

  <li>The syllabus includes equally intellectual and artistic-practical subjects. From the standpoint of human
    wholeness, both clear thinking as well as a balanced emotional life and a strong will require equal attention.</li>

  <li>From first to eighth grade, traditional marks have been replaced with verbal assessments, which describe the
    individual development of children in relation to the syllabus.</li>

  <li>At the end of middle and high school students take the state examinations.</li>

  <li>Tartu Waldorf School is a private school owned by the Tartu Free Waldorf School Association, a
    non-governmental organization founded by the parents. Tuition fee in the academic year 2010/2011 was &euro;584.43.</li>
</ul>
	</div>