@import "foundation_and_overrides";

body {
  font-family: 'Ubuntu', sans-serif;
  margin-top: 40px;
  margin-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
  color: $waldorf_dark_blue;
}

h1 {
  background-color: $waldorf_dark_yellow;
  padding-left: 10px;
}

.title-area {
  background-color: $waldorf_dark_blue;
}

p.lead {
  padding: 20px;
  background-color: $waldorf_dark_yellow;
  color: #fff; //scale-color($waldorf_paper_yellow, $lightness: +14%);
  font-size: 120%;
}

span.first-word {
  font-size: 200%;
  font-style: italic;
}

span.first-word-gentle {
  font-size: 150%;
  font-style: italic;
}

.newest-post {
  padding-top: 20px;
}